@font-face{
	font-family: Cormorantuprightbold;
	font-display: swap;
	src: url("../fonts/Cormorantuprightbold.woff2") format("woff2"), url("../fonts/Cormorantuprightbold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Cormorantuprightbook;
	font-display: swap;
	src: url("../fonts/Cormorantuprightbook.woff2") format("woff2"), url("../fonts/Cormorantuprightbook.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: BriosoPro Italic;
	font-display: swap;
	src: url("../fonts/BriosoPro Italic.woff2") format("woff2"), url("../fonts/BriosoPro Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
